@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <h3>Top Selling Song</h3>
    <a href="/Users/TOPSONG">GO</a>
    <h3>Top Selling Artist</h3>
    <a href="/Users/TopArtist">GO</a>
    <h3>Top 3 Rated Songs</h3>
    <a href="/Users/Top3Songs">GO</a>

</div>